@charset "ISO-8859-1";
		
		.homeSection{
            width: 100%;
            height: 100%;
            margin: auto;
            background: url(../img/home3.jpg) no-repeat center top;
            /*position: fixed;*/
            z-index: -1;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: fixed;


        }
 		.header{
            overflow: hidden;
            background-color: rgba(100, 149, 237, 0.7);
            padding: 3%;
            margin-top: 1%;
            margin-left: 1%;
            margin-right: 1%;
            text-align: center;
        }
        #titleHeader{

            color: whitesmoke;
            text-align: center;
            font-family: fantasy;
            font-size: 55px;
            line-height: 25px;
            cursor: pointer;

        }
        .form{
            /*background: #365d7e;*/
            border-radius: 5%;
            padding-top: 0.5%;
            padding-bottom: 2%;
            color: whitesmoke;
            font-family: fantasy;
            font-size: 25px;
            background-image: linear-gradient(rgba(37,176,221,0.8),rgba(37,206,221,0.8),rgba(37,236,221,0.8));
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            align-content: center;
            text-align: center;
            margin-top:3% ;
        }
        .label{
            align-content: center;
            text-align: left;
            padding: 0px;
            margin-top: 3%;
            margin-bottom: 1%;
            margin-left: 10%;
        }
        .textarea{
            width: 70%;
            font-size: 20px;
            height:25px;

        }

        .btnLog{
            width: 50%;
            align-items: center;
            height: 30px;
            color: #f5f8fb;
            font-size: 25px;
            border: none;
            background-image: linear-gradient(cadetblue,darkcyan);
            border: none;
            border-radius: 10px;
            margin-top: 10%;
            cursor: pointer;
        }
        .line{
            width:90%;
            height: 10px;
            margin-bottom: 2%;

        }
		.errore{
			color:red;
			font-family:Open-Sans;		
		}
    /*Indicazioni RESPONSIVE*/    
         @media screen and (max-width: 800px) {
            .form{
                font-size: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
                margin-top:10% ;
            }
            .btnLog{
                font-size: 20px;
            }
            .textarea{

                font-size: 17px;
                height:23px;

            }
            #titleHeader{
                font-size: 45px;
            }
        }
        @media screen and (max-width: 400px) {
            .form{
                font-size: 18px;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                margin-top:20%;
            }
            .btnLog{
                font-size: 16px;
            }
            .textarea{

                font-size: 16px;
                height:20px;

            }
            #titleHeader{
                font-size: 30px;
            }
        }