@charset "ISO-8859-1";

/*Parte relativa alla home del dipendente*/
  .areaDipendente{
            width: 100%;
            height: 100%;
            margin: auto;
            background: url(../img/sabbia.jpg) no-repeat center top;
            /*background:lightsteelblue;*/
            z-index: -1;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
        }

        .header{
            overflow: hidden;
            color: white;
            background-color: rgba(43, 89, 158, 0.9);
            /*padding: 10px 10px;*/
            margin-top: 1%;
            margin-left: 1%;
            margin-right: 1%;
            padding-left: 3%;
            padding-bottom: 2%;

        }
         .header p{
         	color:#EEC41D;
         }
         .header h2,p{
            display: inline;
        }
        .homeDipendente{
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 1%;
        }
        .row{
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */

        }

        .mainSection{
            flex: 80%;
            flex-grow: 7;
            text-align: center;
            background: rgba(255,255,255,0.6);
        }
        .sideSection{
            flex: 20%;
            text-align: center;
            background-color: rgba( 37, 126,121, 0.8);
            color: white;
            padding-top: 3%;
            padding-bottom: 3%;
            

        }
        .sideSection a{
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            font-family: fantasy;
            color: darkcyan;

        }

        .buttonSide{
            width: 80%;
            margin-top: 2%;
        }


        @media screen and (max-width: 700px) {
            .row {
                flex-direction: column;
            }
            
            .sideSection a{
            
            font-size: 20px;
			
	        }
	         .header h1,h2,p{
	            font-size:22px;
	            display:table-row;
	        }
	      }

/*parte relativa alla registrazione di un un nuovo dipendente*/
	 .form{
            background: rgba(54,93,126, 0.8);
            border-radius: 5%;
            padding-top: 0.5%;
            padding-bottom: 2%;
            color: whitesmoke;
            font-family: Open-Sans;
         	
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            align-content: center;
            text-align: center;
            margin-top:3% ;
            margin-bottom: 2%;

        }
        .label{
            align-content: center;
            text-align: left;
            padding: 0px;
            margin-top: 3%;
            margin-bottom: 1%;
            margin-left: 10%;
        }
        .textarea{
            width: 70%;
            font-size: 15px;
            height:25px;

        }

        .btnLog{
            width: 50%;
            align-items: center;
            height: 30px;
            color: #f5f8fb;
            border: none;
            background-image: linear-gradient(cadetblue,darkcyan);
            border: none;
            border-radius: 10px;
            margin-top: 10%;
            cursor: pointer;

        }
        .line{
            width:90%;
            height: 10px;
            margin-bottom: 2%;

        }


/**/
       
	.prenotazione{
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            font-size: 15px;
            font-family: sans-serif;

        }
        .prenotazione h3,h6{
            margin:1%;
            color: cornflowerblue;
        }
        .formPostazione{
            flex: 30%;
            background: rgba(255,255,255,0.7);
            padding: 2%;
            margin: 3%;
            text-align: center;
        }
        .formPrenotazione{
           width:100%;
            background: rgba(255,255,255,0.7);
            padding: 2%;
            margin: 3%;
             display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            font-size: 15px;
            font-family: sans-serif;
            /*text-align: left;*/
        }
        .section{
        flex:30%;
        }
        .labelForm{
            margin-bottom:2%;
            text-align:center;
        }
        .btnTurno{
			cursor:pointer;
        }
        
 /*Parte relativa alla funzionalità dell'amministratore
 *on cui visualizza tutti i dipendenti
 */    
    table{
            width: 100%;
            border-collapse: collapse;
            border-bottom: 2px solid #a7c2d9;
            font-family: "Open Sans";
            font-size: 100%;
        }
        th{
            padding: 10px;
            text-align: center;
            border-bottom: 2px solid #a7c2d9;
            border-collapse: collapse;
            color: rgb(43, 89, 158);
        }
        td{
            padding: 10px;
            text-align: center;
            border-collapse: collapse;
        }
        tr:nth-child(even) {
            background-color: #f5f8fb;
        }
        .deleteButton{
            border: none;
            background: darkcyan;
            color: white;
            border-radius: 2%;
            border-width: 1px;
            padding: 3% 7%;
            cursor: pointer;
        }
        .deleteButton:hover{
            border: none;
            background: #EEC41D;
            color: white;
        }
    
        
 /* Parte relativa alle schermate di biglietteria, controllore e bagnino
 * per mostrare a schermo la situazione relativa alle postazioni
 */		
        .mappaPosti{
            background: rgba(252,197,110,0.7);
            margin: 2%;
            padding: 2%;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            margin-bottom: 2%;
        }
        .posto{
            flex: 15%;
        }
        .mappaPosti i{
            font-size: 50px;
            padding-top: 10%;
            color: green;
        }
        .boxMare{
         	width: 100%;
            margin-top: 3%;
        }
        .btnUmbrella{
            margin-top: 1%;
            border: none;
            background: whitesmoke;
            border-radius: 3%;
            cursor: pointer;
        }
  /*Parte relativa agli ordini del barista*/   
  .listaOrdinazioni{
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            width:96%;
            margin: auto;
            font-family: "Open Sans";
        }
        .scheda{
        	flex:20%;
            margin: 1%;
            background: rgba(255,255,255,0.8);
            padding-left:2%;
			text-align:left;

        }
        .riepilogo{
            margin: 1%;
            color: rgb(43, 89, 158);
        }
        .riepilogo h5{
            margin: 0px;
        }   
        
 /* Indicazioni RESPONSIVE*/    
  @media screen and (max-width: 800px) {
            .form{
                font-size: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
                margin-top:10% ;
            }
            .btnLog{
                font-size: 20px;
            }
            .textarea{

                font-size: 17px;
                height:23px;

            }
            #titleHeader{
                font-size: 45px;
            }
            table{
                font-size: 60%;
            }
            
        }
        @media screen and (max-width: 500px){
            
            .mappaPosti i{
                font-size: 40px;
                padding-top: 25%;
            }
            .btnUmbrella{
            	font-size:9px;
            }
            .listaOrdinazioni{
            flex-direction: column;
            }
        }
        @media screen and (max-width: 400px) {
            .form{
                font-size: 18px;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                margin-top:20%;
            }
            .btnLog{
                font-size: 16px;
            }
            .textarea{

                font-size: 16px;
                height:20px;

            }
            #titleHeader{
                font-size: 30px;
            }
        }
		   
        
        @media screen and (max-width: 330px){
            #titleHeader{
                font-size: 30px;
            }
            .header a{
                font-size: 20px;
            }
            .mappaPosti i{
                font-size: 20px;
                padding-top: 25%;
            }
            .btnUmbrella{
            	font-size:7px;
            }
        }